# Covid 19 Data analysis using python

In [12]:
#import
import pandas as pd
import numpy as np 
import seaborn as sns
import matplotlib as plt

#dataset
df = pd.read_csv('datasets/time_series_covid19_confirmed_global.csv')

In [13]:
df.head(25)

,Province/State,Country/Region,Lat,Long,1/22/20,1/23/20,1/24/20,1/25/20,1/26/20,1/27/20,...,7/29/20,7/30/20,7/31/20,8/1/20,8/2/20,8/3/20,8/4/20,8/5/20,8/6/20,8/7/20
0,NaN,Afghanistan,33.939110,67.709953,0,0,0,0,0,0,...,36471,36542,36675,36710,36710,36747,36782,36829,36896,37015
1,NaN,Albania,41.153300,20.168300,0,0,0,0,0,0,...,5105,5197,5276,5396,5519,5620,5750,5889,6016,6151
2,NaN,Algeria,28.033900,1.659600,0,0,0,0,0,0,...,29229,29831,30394,30950,31465,31972,32504,33055,33626,34155
3,NaN,Andorra,42.506300,1.521800,0,0,0,0,0,0,...,918,922,925,925,925,937,939,939,944,955
4,NaN,Angola,-11.202700,17.873900,0,0,0,0,0,0,...,1078,1109,1148,1164,1199,1280,1344,1395,1483,1538
5,NaN,Antigua and Barbuda,17.060800,-61.796400,0,0,0,0,0,0,...,91,91,91,91,91,92,92,92,92,92
6,NaN,Argentina,-38.416100,-63.616700,0,0,0,0,0,0,...,178996,185373,191302,196543,201919,206743,213535,220682,228195,235677
7,NaN,Armenia,40.069100,45.038200,0,0,0,0,0,0,...,37937,38196,38550,38841,39050,39102,39298,39586,39819,39985
8,Australian Capital Territory,Australia,-35.473500,149.012400,0,0,0,0,0,0,...,113,113,113,113,113,113,113,113,113,113
9,New South Wales,Australia,-33.868800,151.209300,0,0,0,0,3,4,...,3736,3756,3773,3784,3797,3809,3820,3832,3842,3851
10,Northern Territory,Australia,-12.463400,130.845600,0,0,0,0,0,0,...,31,31,33,33,33,33,33,33,33,33
11,Queensland,Australia,-27.469800,153.025100,0,0,0,0,0,0,...,1082,1083,1084,1085,1085,1085,1088,1088,1087,1088
12,South Australia,Australia,-34.928500,138.600700,0,0,0,0,0,0,...,448,449,451,453,455,457,457,456,459,459
13,Tasmania,Australia,-42.882100,147.327200,0,0,0,0,0,0,...,229,229,229,229,229,229,229,229,229,229
14,Victoria,Australia,-37.813600,144.963100,0,0,0,0,1,1,...,9998,10577,10931,11557,11937,12335,13035,13469,13867,14283
15,Western Australia,Australia,-31.950500,115.860500,0,0,0,0,0,0,...,661,665,666,641,669,669,670,670,642,642
16,NaN,Austria,47.516200,14.550100,0,0,0,0,0,0,...,20850,20955,21130,21212,21304,21385,21481,21566,21696,21837
17,NaN,Azerbaijan,40.143100,47.576900,0,0,0,0,0,0,...,31221,31560,31878,32157,32443,32684,32910,33103,33247,33376
18,NaN,Bahamas,25.025885,-78.035889,0,0,0,0,0,0,...,484,508,574,599,648,679,715,751,761,830
19,NaN,Bahrain,26.027500,50.550000,0,0,0,0,0,0,...,40311,40755,40982,41190,41536,41835,42132,42514,42889,43307
20,NaN,Bangladesh,23.685000,90.356300,0,0,0,0,0,0,...,232194,234889,237661,239860,240746,242102,244020,246674,249651,252502
21,NaN,Barbados,13.193900,-59.543200,0,0,0,0,0,0,...,110,110,110,122,132,132,132,133,133,138
22,NaN,Belarus,53.709800,27.953400,0,0,0,0,0,0,...,67518,67665,67808,67946,68067,68166,68250,68376,68503,68614
23,NaN,Belgium,50.833300,4.469936,0,0,0,0,0,0,...,67335,68006,68751,69402,69849,70314,70648,71158,72016,72784
24,NaN,Benin,9.307700,2.315800,0,0,0,0,0,0,...,1805,1805,1805,1805,1805,1805,1914,1936,1936,1936

In [14]:
df.shape

(266, 203)

In [17]:
 df.drop(["Lat", "Long"], axis = 1, inplace = True)

In [18]:
df.head()

,Province/State,Country/Region,1/22/20,1/23/20,1/24/20,1/25/20,1/26/20,1/27/20,1/28/20,1/29/20,...,7/29/20,7/30/20,7/31/20,8/1/20,8/2/20,8/3/20,8/4/20,8/5/20,8/6/20,8/7/20
0,NaN,Afghanistan,0,0,0,0,0,0,0,0,...,36471,36542,36675,36710,36710,36747,36782,36829,36896,37015
1,NaN,Albania,0,0,0,0,0,0,0,0,...,5105,5197,5276,5396,5519,5620,5750,5889,6016,6151
2,NaN,Algeria,0,0,0,0,0,0,0,0,...,29229,29831,30394,30950,31465,31972,32504,33055,33626,34155
3,NaN,Andorra,0,0,0,0,0,0,0,0,...,918,922,925,925,925,937,939,939,944,955
4,NaN,Angola,0,0,0,0,0,0,0,0,...,1078,1109,1148,1164,1199,1280,1344,1395,1483,1538